version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build:
    jobs:
    - architect/go-build:
        context: architect
        name: go-build
        binary: dns-operator-route53
        resource_class: xlarge
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          # Trigger the job also on git tag.
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: dns-operator-route53
        requires:
        - push-to-registries
        filters:
          # Trigger the job also on git tag.
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-collection:
        context: architect
        name: push-to-cloud-director-app-collection
        app_name: dns-operator-route53
        app_collection_repo: cloud-director-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: push-to-vsphere-app-collection
        app_name: dns-operator-route53
        app_collection_repo: vsphere-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: push-to-vsphere-aws-addons-app-collection
        app_name: dns-operator-route53
        app_collection_repo: vsphere-aws-addons-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/
    - architect/push-to-app-collection:
        context: architect
        name: push-to-proxmox-app-collection
        app_name: dns-operator-route53
        app_collection_repo: proxmox-app-collection
        requires:
        - push-to-app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/
